[submodule "SSL-Base"]
	path = SSL-Base
	url = https://github.com/millennium42/SSL-Base.git
	branch = main
[submodule "SSL-Receiver"]
	path = SSL-Receiver
	url = https://github.com/millennium42/SSL-Receiver.git
	branch = main
[submodule "SSL-Robot"]
	path = SSL-Robot
	url = https://github.com/millennium42/SSL-Robot.git
	branch = main
[submodule "SSL-Transmitter"]
	path = SSL-Transmitter
	url = https://github.com/millennium42/SSL-Transmitter.git
	branch = main
